{% extends "base.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
    {{ super() }}

    <div class="pull-right btn-group btn-group-sm">
        <a href="/edit/page/" class="btn btn-secondary" title="New Page"><i class="fa fa-fw fa-file-o"></i></a>
    </div>
    <h2>Pages</h2>

    <table class="table table-hover table-sm">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
    </tr></thead>
    <tbody>
        {% for page in pages %}
        <tr {% if page.id == 1 %}class="table-info" title="Page ID 0 is always the root page."{% endif %}>
            <td>{{ page.id }}</td>
            <td><a href="/{{ page.name }}">{{ page.name }}</a></td>
            <td>{{ page.title }}</td>
{#            <td class="text-xs-right"><a href="/edit/page/{{ page.id }}" class="btn btn-sm btn-secondary" title="Edit"><i class="fa fa-fw fa-pencil"></i></a></td>#}
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if users|rejectattr('active')|selectattr('registered_on', 'older', hours=24)|list|length > 0 %}
    <div class="pull-right btn-group btn-group-sm">
        <button class="btn btn-danger" onclick="nuke_unactivated()" title="Remove unactivated accounts older than 24h"><i class="fa fa-fw fa-trash-o"></i></button>
    </div>
    {% endif %}
    <h2>Users</h2>
    <table class="table table-hover table-sm">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Registered</th>
        <th>Status</th>
        <th></th>
    </tr></thead>
    <tbody>
        {% for user in users %}
        <tr class="table-{{ ['info' if user.id == 1, 'danger' if not user.active or user.banned, 'warning' if user.admin, 'success' if user.brewer]|select('defined')|first}}"
            title="{{ 'ÜberAdmin' if user.id == 1 }}">
            <td>{{ user.id }}</td>
            <td><a href="/profile/{{ user.id }}">{{ user.name }}</a></td>
            <td title="Email{{ ' not' if not user.show_email }} public">
                <span class="pull-right"><i class="fa fa-fw fa-eye{{ '-slash' if not user.show_email }}"></i></span>{{ user.email }}
            </td>
            <td>{{ user.registered_on | date }}</td>
            <td title="{{ ['Banned' if user.banned, 'Admin' if user.admin, 'Brewer' if user.brewer, 'Not active' if not user.active]|select('defined')|join(', ') }}">
                {% if user.banned %}<i class="fa fa-fw fa-ban"></i>{% endif %}
                {% if not user.active %}<i class="fa fa-fw fa-exclamation"></i>{% endif %}
                {% if user.admin %}<i class="fa fa-fw fa-bolt"></i>{% endif %}
                {% if user.brewer %}<i class="fa fa-fw fa-beer"></i>{% endif %}
            </td>
            <td class="text-xs-right">
                {% if user.banned %}
                <button class="btn btn-sm btn-danger" title="Unban" onclick="unban({{ user.id }})"><i class="fa fa-fw fa-ban"></i></button>
                {% elif not user.active %}
                <button class="btn btn-sm btn-danger" title="Manually activate" onclick="activate({{ user.id }})"><i class="fa fa-fw fa-exclamation"></i></button>
                {% else %}
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-danger" title="Toggle Admin" {{ 'disabled' if user == current_user or user.id == 1 else 'onclick=admin(' + user.id|string + ')' }}><i class="fa fa-fw fa-bolt"></i></button>
                    <button class="btn btn-warning" title="Toggle Brewer" onclick="brewer({{ user.id }})"><i class="fa fa-fw fa-beer"></i></button>
                    {% if not user.admin %}
                    <button class="btn btn-sm btn-danger" title="Ban" onclick="ban({{ user.id }})"><i class="fa fa-fw fa-ban"></i></button>
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <h2>Beers</h2>
    <table class="table table-hover table-sm">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brewer</th>
    </tr></thead>
    <tbody>
        {% for beer in beers|reverse %}
        <tr>
            <td>{{ beer.id }}</td>
            <td>
                {% if not beer.listed %}<span class="pull-right" title="Unlisted"><i class="fa fa-fw fa-eye-slash"></i></span>{% endif %}
                <a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
            </td>
            <td>{{ beer.brewer.name }}</td>
{#            <td class="text-xs-right"><a href="/edit/beer/{{ beer.id }}" class="btn btn-sm btn-secondary" title="Edit"><i class="fa fa-fw fa-pencil"></i></a></td>#}
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
{% block script %}
    {{ super() }}
    <script>
    "use strict";

    function activate(userid)
    {
        $.post("/api/user/" + userid + "/activate").done(function () {
            location.reload();
        }).fail(function () {
            alert("Cannot activate.");
        });
    }

    function admin(userid)
    {
        $.post("/api/user/" + userid + "/admin").done(function () {
            location.reload();
        }).fail(function () {
            alert("Cannot toggle admin.");
        });
    }

    function brewer(userid)
    {
        $.post("/api/user/" + userid + "/brewer").done(function () {
            location.reload();
        }).fail(function () {
            alert("Cannot toggle brewer.");
        });
    }

    function ban(userid)
    {
        var reason = prompt('Reason?');
        if (reason !== false)
        {
            $.post("/api/user/" + userid + "/ban", {reason: reason}).done(function () {
                location.reload();
            }).fail(function () {
                alert("Cannot ban.");
            });
        }
    }

    function unban(userid)
    {
        $.post("/api/user/" + userid + "/unban").done(function () {
            location.reload();
        }).fail(function () {
            alert("Cannot unban.");
        });
    }

    function nuke_unactivated() {
        if (!confirm("Are you sure you want to permanently remove all unactivated users older than 24h?")) return;
        $.post("/api/user/nuke_unactivated").done(function () {
            location.reload();
        }).fail(function () {
            alert("Cannot toggle brewer.");
        });
    }
    </script>
{% endblock %}
