{% macro menuitem(item, class, dropdown=False) %}
{% if item.disabled %}
<div class="{{ class }} disabled">{{ item.text }}</div>
{% else %}
<a class="{{ class }}" href="{{ item.url | replace("<url>", request.path) }}" {% if dropdown %}data-toggle="dropdown"{% endif %}>{{ item.text }}</a>
{% endif %}
{% endmacro %}
{% macro menu(items, class) %}
<nav class="nav navbar-nav {{ class }}">
    {% for item in items if item is menu_conditions %}
    {% if item.subs %}
    <div class="nav-item dropdown">
        {{ menuitem(item, "nav-link dropdown-toggle", True) }}
        <div class="dropdown-menu">
            {% for subitem in item.subs if subitem is menu_conditions %}
                {% if subitem == "|" %}
                <div class="dropdown-divider"></div>
                {% else %}
                {{ menuitem(subitem, "dropdown-item") }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    {{ menuitem(item, "nav-item nav-link") }}
    {% endif %}
    {% endfor %}
</nav>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha256-mIfhv/h3MLq3WSiSlduuZO3saRNzzuf1LK8w3z3l3JY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous" />
    {% block head %}<link rel="stylesheet" href="/static/css/base.css">{% endblock %}
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <div class="container">
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ config.title }}</a>
            <div id="navbar">
                {{- menu(config.menu_left, 'float-xs-left') if config.menu_left -}}
                {{- menu(config.menu_right, 'float-xs-right') if config.menu_right -}}
            </div>
        </div>
    </nav>
    <div class="container">
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="messages">
        {% for cat, message in messages %}
            <div class="alert alert-{{ cat if cat in ['success', 'info', 'warning', 'danger'] else 'warning' }} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    {% endblock %}
    {% block content %}
        <h1>{{ self.title() }}</h1>
    {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; <a class="hide" href="https://dries007.net">Dries007</a> - 2016 - <a class="hide" href="https://github.com/dries007/TheBeerArchive">Source available here.</a></span>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js" integrity="sha256-VAB5tAlKBvgaxw8oJ1crWMVbdmBVl4mP/2M8MNRl+4E=" crossorigin="anonymous"></script>
    {% block script %}<script>
    "use strict";

    {% if user.is_anonymous or user.emojis %}
    $(function ()
    {
        emojify.setConfig({
            img_dir: "https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic"
        });
        emojify.run();
    });
    {% endif %}

    function markdown_markup(root)
    {
        root.find("table").addClass("table table-sm table-hover table-bordered").find("thead").addClass("thead-default");
        root.find("img").not(".emoji").addClass("img-fluid rounded").each(function(i, e) {
            if (e.alt == "") return;
            var j = $(e);
            j.addClass("figure-img");
            j.wrap('<figure class="figure"></figure');
            j.after($('<figcaption class="figure-caption text-xs-center"></figcaption>').text(e.alt));
        });
        root.find("blockquote").addClass("blockquote");
    }

    $(function ()
    {
        $('#navbar').find('.nav a').each(function (i, e)
        {
            if (e.href != window.location.href) return;
            $(e).addClass("active").parents(".nav-item").addClass("active");
        });

        //fixme: ugry hack to get classes on tags in markdown
        markdown_markup($(".md"));
    });
    </script>{% endblock %}
</body>
</html>
