{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha256-Is0XNfNX8KF/70J2nv8Qe6BWyiXrtFxKfJBHoDgNAEM=" crossorigin="anonymous" />
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
    {{ macros.simpleMDE('bio', uniqueid) }}
{% endblock %}
{% block content %}
    <form id="form" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-6 form-group{{ ' has-danger' if form.name.errors }}">
                <label class="form-control-label" for="name">Name</label>
                {{ form.name(class="form-control") }}
                <small class="form-text text-muted">A human readable name. Must be unique.</small>
                {% for error in form.name.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
            </div>
            <div class="col-sm-6 form-group{{ ' has-danger' if form.email.errors }}">
                <label class="form-control-label" for="email">Email</label>
                {{ form.email(class="form-control") }}
                <small class="form-text text-muted">A confirmation email will be send. Must be unique.</small>
                {% for error in form.email.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-check">
                <label class="form-check-label" for="emojis">
                {{ form.emojis(class="form-check-inline") }}
                Emojis
                </label>
            </div>
        </div>
        <div class="form-group{{ ' has-danger' if form.bio.errors }}">
            <label class="form-control-label" for="bio">Bio</label>
            {{ form.bio() }}
            {% for error in form.bio.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.save(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
