{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="pull-right btn-group">
        <a class="btn btn-sm btn-outline-secondary" role="button" href="/edit/page/{{ page.id }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
        <a class="btn btn-sm btn-outline-secondary" role="button" href="/edit/post?page={{ page.id }}"><i class="fa fa-plus" aria-hidden="true"></i> Post</a>
    </div>
    {% endif %}
    <div>{{ page.content_html | safe }}</div>
    {% set posts = page.posts.order_by('published').all() %}
    {% if posts | length > 1 %}
    <hr>
    {% for post in posts %}
    <div class="posts">
        {# TODO: add admin controls #}
        {% if post.user_id == user.id %}
            <div class="pull-right"><a class="btn btn-sm btn-outline-secondary" role="button" href="/edit/post/{{ post.id }}"><i class="fa fa-fw fa-edit"></i></a></div>
        {% endif %}
        <div class="{{ post.clazz or "post" }}">
{#            {{ post.id }}<br>#}
{#            {{ post.clazz }}<br>#}
{#            {{ post.content }}<br>#}
{#            {{ post.published }}<br>#}
{#            {{ post.last_edit }}<br>#}
{#            {{ post.page_id }}<br>#}
{#            {{ post.user_id }}<br>#}
            {{ post.content_html | safe }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}
