{% macro menuitem(item, class, dropdown=False) %}
{% if item.disabled %}
<div class="{{ class }} disabled">{{ item.text }}</div>
{% else %}
<a class="{{ class }}" href="{{ item.url | replace("<url>", request.path) }}" {% if dropdown %}data-toggle="dropdown"{% endif %}>{{ item.text }}</a>
{% endif %}
{% endmacro %}
{% macro menu(items, class) %}
<nav class="nav navbar-nav {{ class }}">
    {% for item in items if item is menu_conditions %}
    {% if item.subs %}
    <div class="nav-item dropdown">
        {{ menuitem(item, "nav-link dropdown-toggle", True) }}
        <div class="dropdown-menu">
            {% for subitem in item.subs if subitem is menu_conditions %}
                {% if subitem == "|" %}
                <div class="dropdown-divider"></div>
                {% else %}
                {{ menuitem(subitem, "dropdown-item") }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    {{ menuitem(item, "nav-item nav-link") }}
    {% endif %}
    {% endfor %}
</nav>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% block head %}<link rel="stylesheet" href="/static/css/base.css">{% endblock %}
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    {% block script %}<script>
        $(function ()
        {
            $('#navbar').find('.nav a').each(function (i, e)
            {
                if (e.href != window.location.href) return;
                $(e).addClass("active").parents(".nav-item").addClass("active");
            });
        });
    </script>{% endblock %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <div class="container">
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ config.title }}</a>
            <div id="navbar">
                {{- menu(config.menu_left, 'pull-xs-left') if config.menu_left -}}
                {{- menu(config.menu_right, 'pull-xs-right') if config.menu_right -}}
            </div>
        </div>
    </nav>
    <div class="container">
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="messages">
        {% for cat, message in messages %}
            <div class="alert alert-{{ cat if cat in ['success', 'info', 'warning', 'danger'] else 'warning' }} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    {% endblock %}
    {% block content %}
        <h1>{{ self.title() }}</h1>
    {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; <a class="hide" href="https://dries007.net">Dries007</a> - 2016 - <a class="hide" href="https://github.com/dries007/TheBeerArchive">Source available here.</a></span>
      </div>
    </footer>
</body>
</html>
