{% extends "base.html" %}
{% block title %}Edit {{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha256-Is0XNfNX8KF/70J2nv8Qe6BWyiXrtFxKfJBHoDgNAEM=" crossorigin="anonymous" />
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
    <script>
    "use strict";
    var editor;
    $(function () {
         editor = new SimpleMDE({
            autofocus: true,
            element: document.getElementById("editor"),
            spellChecker: false,
            status: false,
            autosave: {
                enabled: false,
                delay: 5000,
                uniqueId: "{{ uniqueid }}"
            },
            tabSize: 4,
            toolbar: [
                "heading",
                "|",
                "bold",
                "italic",
                "strikethrough",
                "quote",
                "|",
                "unordered-list",
                "ordered-list",
                "|",
                "link",
                "image",
                "table",
                "horizontal-rule",
                "|",
                "preview",
                "side-by-side",
                "fullscreen",
                "|",
                {
                    name: "guide",
                    action: "https://guides.github.com/features/mastering-markdown/",
                    className: "fa fa-star",
                    title: "Mastering Markdown (Formatting help)"
                },
                {
                    name: "emoji",
                    action: "http://www.webpagefx.com/tools/emoji-cheat-sheet/",
                    className: "fa fa-smile-o",
                    title: "Emoji cheat sheet"
                }
            ]
        });
{#        editor.codemirror.on("change", function() { setTimeout(function() { emojify.run(); }, 0) });#}

        // fixme: For hiding/showing the navbar on swapping fullscreen (https://github.com/NextStepWebs/simplemde-markdown-editor/issues/438)
        const oldEditorSetOption = editor.codemirror.setOption;
        editor.codemirror.setOption = function(option, value) {
            oldEditorSetOption.apply(this, arguments);
            if (option === 'fullScreen') {
                if (value) $(".navbar").hide();
                else $(".navbar").show();
            }
{#            setTimeout(function() { emojify.run(); }, 0)#}
        };

        $("#form").submit(function() { editor.clearAutosavedValue(); });
    });
    </script>
{% endblock %}
{% block content %}
    <form id="form" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-6 form-group{{ ' has-danger' if form.title.errors }}">
                <label class="form-control-label" for="title">Page Title</label>
                {{ form.title(class="form-control") }}
                <small class="form-text text-muted">The human readable title.</small>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6 form-group{{ ' has-danger' if form.name.errors }}">
                <label class="form-control-label" for="name">Page Name</label>
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
                {% endif %}
                <small class="form-text text-muted">Used as page URL. Must be unique. Alphanumerical and underscores only.</small>
            </div>
        </div>
        <div class="form-group{{ ' has-danger' if form.editor.errors }}">
            <label class="form-control-label" for="editor">Content</label>
            {{ form.editor() }}
            {% if form.editor.errors %}
                {% for error in form.editor.errors %}<div class="form-control-feedback">{{ error }}</div>{% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.save(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
